# Eclipse / STS
.metadata/

# VS Code
.vscode/

# Backend
backend/target/
backend/uploads/ngos/
backend/src/main/resources/application.properties

# Frontend
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Visual Studio
.vs/