@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #556b2f;
  --color-primary-hover: #465926;
  --color-secondary: #6b8e23;

  --color-background: #faf7f0;
  --color-card: #fffdf8;
  --color-accent: #c2a878;

  --color-success: #4caf50;
  --color-warning: #d97706;
  --color-danger: #dc2626;

  --color-heading: #2f3a28;
  --color-text: #4b5563;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}